    /**Style Sheet*/


    .container{
    width: 100%;
    margin-top: 0px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    }
    
    .nav-link{
        float: left;
    }
    
    #picture{
        height: 300px;
        width: 250px;
        float: left;
        margin: 20px 20px 5px 0px;
    }
    
    body{
        background-image: url(pictures/backgroundwhite.jpeg);
        margin: 0;
        padding: 0;
    }
    
    #linkbox{
        background-color: white;
        margin: 20px 288px;
        padding: 20px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact{
        height: 40px;
        font-size: medium;
    }

    #linkedin{

    }

    #github{
        /* border: 0;
        height: 156px; 
        width: 280px; 
        overflow: hidden;
        margin: 0px;
        padding: 0;  */
    }

    #resume{
        background-color: rgba(29, 22, 22, 0.932);
        height: 156px;
        padding: 0px;
    }

    i{
        color: white;
        padding: 10px; 
    }

    .whitebox {
        background-color: white;
        overflow: auto;
        margin: 20px 288px;
        padding: 20px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    footer {
        border-top: 8px solid red;
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        text-align: center;
        background: blue;
    }
    
    p{
        text-indent: 50px;
        margin: 0px 0px 16px;
        padding: 0px 20px;
    }
    
    .links{
        text-align: center;
        display: inline;
        margin: auto;
    }
    
    .name {
        background-color: blue;
    }
    
    #myName{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        margin: auto;
    }
    
    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: left;
        color: blue
    }

    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        background-color:blue;
        color: white;
        width: 100%;
        text-decoration: none;
    }

    h6{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: black
    }
    
    li{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: red;
        font-size: large;
        /* margin: auto; */
    }

    
    #project1{
        width: 100%;
    }
    
    #weather{
        width: 100%;
     }
    
     #planner{
        width: 100%;
     }
    
     #quiz{
        width: 100%;
     }
    
     #rockpaperscissors{
        width: 100%;
     }
    
     .content-holder {
        display: flex;
        margin: 15px;
      } 
      
     /* .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      } */
      
      /* .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      } */
      
     
    

      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        color: red;
        text-decoration: none;
      }
      
      a:active {
        text-decoration: none;
    }